div{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    width: 400;
    padding: 10px;
    background-color: transparent;
}

app-article{
    transition: box-shadow .3s;
    margin: 10px;
}

app-article:hover{
    box-shadow: 0px 0px 14px rgba(33,33,33,.6); 
}

H3{
    text-align: center;
}

a{
    color: #0178FF;
}

p{
    text-align: center;
    text-overflow: "...";
}