<div>
  <h2>Create your article</h2>
  <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
    <div>
      <label class="center-block">Title</label>
      <input type="text" formControlName="title">
      
      <br />
      <label class="center-block">Content</label>
      <textarea formControlName="content"></textarea>
      
      <br />
      <label class="center-block">Author</label>
      <input type="text" formControlName="author">
      
      <br />
      <input [disabled]="articleForm.invalid" type="submit" value="Save">
    </div>
  </form>
</div>